* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background-color: var(--main-dark);
  color: var(--main-light);
  flex-direction: row;
}

:root {
  --main-font-family: 'Helvetica', Helvetica, sans-serif;
  --main-light: lightgray;
  --main-dark: black;
}